---
import Rating from "../../components/Rating.svelte";
import RecipeEdit from "../../components/RecipeEdit.vue";
import RecipeIngredients from "../../components/RecipeIngredients.astro";
import RecipeInspirations from "../../components/RecipeInspirations.vue";
import RecipeMethod from "../../components/RecipeMethod.astro";
import { RecipeById, type RecipeByIdQuery } from "../../generated/graphql";
import Layout from "../../layouts/default.astro";
import { fetchGraphQL } from "../../shared/fetch-data";
import { handleError } from "../../shared/handle-error";

const id = Astro.params.id;

let recipe: RecipeByIdQuery["recipe"];
try {
  const query = await fetchGraphQL<RecipeByIdQuery>(RecipeById, { id });
  recipe = query.recipe;
} catch (error) {
  return await handleError(error);
}
---

<Layout>
  <div class="flex items-center flex-col md:flex-row">
    <h1 class="h1 md:flex-grow">{recipe?.name}</h1>
    <div class="md:pr-4 pr-0">
      <Rating client:only id={id} />
    </div>
  </div>
  <div class="flex">
    <div class="sm:w-11/12 w-full">
      <RecipeIngredients recipe={recipe} />
    </div>
    <div class="sm:w-1/12 sm:block hidden">
      <RecipeEdit client:only recipe={recipe} />
    </div>
  </div>
  <RecipeMethod recipe={recipe} />
  <RecipeInspirations recipe={recipe} />
</Layout>
